* {
  border: solid black;
}

body {
  background: peachpuff;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

}

.a {
  width: 100%;
}

.b,
.c,
.d,
.e,
.f,
.g {
  min-width: 30%;
}

.h {
  width: 100%;
  min-height: 30vh;
}