* {
  border: 1px solid black;
}

body {
  background: blanchedalmond;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;

}

.a,
.c {
  flex-grow: 1;
}

.b {
  flex-grow: 4;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%
  }

  .b {
    width: 60%
  }
}